.custom-card {
    border: 1px solid rgb(222, 226, 230);

    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 10px 15px -5px,
        rgb(0 0 0 / 4%) 0px 7px 7px -5px;

        &:hover{
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }
}